body {
    background-color: whitesmoke;
}
.row {
    padding: 30px 238px;
    background-color: white;
    }
    
.radius img {
    border-radius: 200px;
}
.radius {
    text-align: center;
}
.bd1 {
    display: inline-block;
    width: 250px;
    margin: 20px;
    background-color: #ffffff;
    border-width: 2px;
    padding: 8px;
}
.bd2 {
    display: inline-block;
    width: 650px;
    margin: 20px;
    background-color: white;
    border-width: 2px;
    padding: 8px;
    float: right;
}
.rm {
    text-decoration: underline;
    
}
.img2 {
    display: inline-block;
    width: 25%;
}
.bd3 {
    display: inline-block;
    width: 70%;
    float: right;
}
.bd4 {
    display: inline-block;
}