.container-fluid {
    padding: 0px !important;
}
.card-body {
    text-align: center;
}
.display-1 {
    text-align: center;
}
.form-group{
    text-align: center;
}
.btn-dark{
    height: 30px;
    width: 150px;
    border-radius: 0% !important;
    font-size: 10px !important;
}